[submodule "deep-pensieve"]
	path = deep-pensieve
	url = https://github.com/gabriel-gubert/deep-pensieve.git
[submodule "SoftPosit-Python"]
	path = SoftPosit-Python
	url = https://gitlab.com/gvkg97/SoftPosit-Python.git
